<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Wall</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/niiirav/eddy-css@main/css/eddy.min.css">
    </head>
    <body>
        <a href="/new">create a new comment</a><hr>
        {% for cmt in comments %}
            <blockquote>
                {{ cmt.text }}
            </blockquote>
            <p>Comment id: {{ cmt._id }}</p><hr>
        {% endfor %}
    </body>
</html>