<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/niiirav/eddy-css@main/css/eddy.min.css">
        {# <link rel="stylesheet" href="css/pico.orange.min.css" /> #}
        <title>Create a new comment</title>
    </head>
    <body>
        <h1>Create new comment:</h1>
        <form
            action="/new" method="post">
            {# <input type="text" name="ctext" id="text" placeholder="hello! what's on your mind ?" style="width: 100%"><br> #}
            <textarea name="text" id="ctext" cols="30" rows="10">Hello there! what's on your mind ?</textarea><br> <input type="submit" value="Post!">
        </form>
        <a href="/">back to the homepage</a>
    </body>
</html>